.burg-intro{
  background:url('../image/bur1.jpg') no-repeat center center /cover fixed;
  height: 400px;
}


.bur-menu{
  background:url('../image/bur1.jpg') no-repeat center center /cover fixed;
  height: 400px;
}
